<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>About Me</h1>
  <p>Saya web developer pemula (ampun puh.., sepuh...) yang sedang belajar Express.js</p>
  <p>$ saya pengen bisa bikin web dan cuan $</p>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/projects">Project</a>
  </nav>
</body>
</html>
